[submodule "rir-generator"]
	path = room_acoustics_simulation/RIR-Generator
	url = https://github.com/ehabets/RIR-Generator
[submodule "blind-channel-identification"]
	path = BSIE_toolbox
	url = https://github.com/patrickanaylor/BSIE_toolbox
[submodule "PEASS"]
	path = Eval/PEASS-Software-v2.0.1
	url = https://gitlab.inria.fr/bass-db/peass
[submodule "pyloudnorm"]
	path = pyloudnorm
	url = https://github.com/csteinmetz1/pyloudnorm

